/* -------------- Page Styles -------------- */

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.consult-container {
    display: flex;
    justify-content: center;
}
.form-container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.jumbotron {
    width: 100%;
    max-width: 2000px;
}
.table-body-custom {
    height: 500px;
    overflow-y: auto;
}
.profile-title {
    padding-bottom: 10px;
}
.small-hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
hr {
    border: 1px solid black;
    background-color: black;
}
.table-container-padding {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}
.table-body-custom {
    height: 500px;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
}
th {
    min-width: 100px;
}
.title-box {
    padding-left: 0;
    padding-right: 0;
}

/* -------------- Media Queries -------------- */

@media (max-width: 1600px) {
    .form-container {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 800px) {
    .form-container {
        width: 100%;
        margin: 0;
    }
}
