/* -------------- Page Styles -------------- */

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.consult-container {
    display: flex;
    justify-content: center;
}
.form-container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.jumbotron {
    width: 100%;
    max-width: 2000px;
}
.consultation-history {
    max-height: 500px;
    overflow-y: auto;
}
.profile-title {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.profile-title-sm {
    padding-bottom: 10px;
}
.small-hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
hr {
    border: 1px solid black;
    background-color: black;
}
#profile-update-form {
    padding-bottom: 30px;
}
.table-container-padding {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}
.table-body-custom {
    height: 500px;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
}
.update-button-margin {
    margin-top: 20px;
}
th {
    min-width: 100px;
}
.title-box {
    padding-left: 0;
    padding-right: 0;
}


/* Stripe styles from stripe documentation */

.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1.5px solid black;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 black;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, border 150ms ease;    
}
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #4a4a4f;
  border: 1px solid transparent;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.stripe-style-input::placeholder {
    color: #4a4a4f;
}


/* -------------- Form Styles -------------- */

#id_default_first_name,
#id_default_last_name,
#id_default_email,
#id_default_phone_number {
  float: left;
  width: 49%;
}
#id_default_first_name,
#id_default_last_name  {
    margin-bottom: 5px;
}
#id_default_first_name,
#id_default_email {
    margin-right: 2%;
}
#id_default_email,
#id_default_phone_number {
    margin-bottom: 30px;
}


/* -------------- Media Queries -------------- */

@media (max-width: 1600px) {
    .form-container {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 800px) {
    #id_default_first_name,
    #id_default_last_name,
    #id_default_email,
    #id_default_phone_number {
        float: none;
        width: 100%;
        margin: 0;
    }
    #div_id_default_first_name {
        margin-bottom: 1rem;
    }
    .form-container {
        width: 100%;
        margin: 0;
    }
}
