{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/consultation_form.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container"></div>
{% endblock %}

{% block content %}
<div class="background-overlay"></div>
    <div class="container-fluid no-gutters h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form action="{% url 'consultation' %}" methods="POST" id="consultation-form">
                {% csrf_token %}
                <div class="form_group">
                    <legend class="">Details</legend>
                    {{ consultation_form.first_name }}
                    {{ consultation_form.last_name }}
                    {{ consultation_form.email }}
                    {{ consultation_form.phone_number }}
                </div>
                <div class="form-group" id="field_input">
                    <legend class="">Project Description</legend> 
                    <textarea class="cons_field_desc" id="proj_desc" rows="3" required></textarea>
                </div>
                <div class="cons_field_pay form_group">
                    <legend class="">Payment</legend>
                    payment info....
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/consultation_form.js' %}"></script>
{% endblock %}