{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/consultation_form.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container"></div>
{% endblock %}

{% block content %}
<div class="background-overlay"></div>
    <div class="container-fluid no-gutters h-100 body-container">
        <div class="row h-100 justify-content-end align-items-center form-container">
            <div class="col my-auto title-box ">
                <div class="jumbotron">
                    <form action="{% url 'consultation' %}" methods="POST" id="consultation-form">
                        {% csrf_token %}
                        <fieldset class="form_group" id="consultation_user_details_fields">
                            <legend class="fieldset-label">Details</legend>
                            {{ consultation_form.first_name | as_crispy_field}}
                            {{ consultation_form.last_name | as_crispy_field}}
                            {{ consultation_form.email | as_crispy_field}}
                            {{ consultation_form.email2 | as_crispy_field}}
                            {{ consultation_form.phone_number | as_crispy_field}}
                        </fieldset>
                        <fieldset class="form-group" id="consultation_idea_field">
                            <legend class="fieldset-label">Project Description</legend> 
                            {{ consultation_form.consultation_idea | as_crispy_field }}
                        </fieldset>
                        <fieldset class="form_group" id="consultation_payment_fields">
                            <legend class="fieldset-label">Payment</legend>
                            <div id="card-element"></div>
                            <div class="card-errors" id="card-errors" role="alert"></div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary consultation-submit" id="submit-button" onclick="inputFields()">
                            <i class="fas fa-paper-plane submit-icon"></i>
                            Submit
                        </button>
                        <div class="text-danger consultation-card-warning">
                            <p class="card-submit-text">
                            <i class="fas fa-exclamation"></i>
                            <span>Your card will be charged £30</span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/consultation_form.js' %}"></script>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static '/js/stripe_elements.js' %}"></script>
{% endblock %}