{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container"></div>
{% endblock %}

{% block content %}

    <div class="container-fluid no-gutters h-100 body-container">
        <div class="row h-100 justify-content-end align-items-center">
            <div class="col my-auto title-box">
                <!-- Page Title -->
                <!-- Card from Bootstrap -->
                <div class="jumbotron">
                    <h1 class="display-4">Welcome</h1>
                    <p class="lead">
                        My name is Lewis, I am a web developer that has experience developing the front end and back end aspects of websites. 
                        With this knowledge I can help you create anything from a small startup site for a new business to a fully functional eCommerce store.
                    </p> 
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}