{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container"></div>
{% endblock %}

{% block content %}

    <div class="container h-100 body-container">
        <div class="row h-100">
            <div class="col my-auto title-box">
                <!-- Page Title -->
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}