{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container"></div>
{% endblock %}

{% block content %}
<div class="background-overlay"></div>
<div class="container-fluid no-gutters h-100 consult-container">
	<div class="row h-100 justify-content-center align-items-center form-container">
		<div class="col my-auto title-box ">
			<div class="jumbotron">
				<div class="row justify-content-center">
					<h1 class="profile-title">
                        My Profile
                    </h1>
                    
				</div>
                <h4 class="profile-title-sm">
                    Default Details
                </h4>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary btn-lg update-button-margin">
                        Update Information
                    </button>
                </form>
                <hr>
                <div class="col-12 table-container-padding">
                    <h4 class="profile-title-sm">
                        Order History
                    </h4>
                    <div class="col-12 table-body-custom table-responsive">
                        <table class="table table-striped">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">Consultation Number</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consultation in consultations %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'consultation_history' consultation.consultation_number %}" 
                                            title="{{ consultation.consultation_number }}">
                                                {{ consultation.consultation_number|truncatechars:10 }}
                                            </a>
                                        </td>
                                        <td>{{ consultation.email }}</td>
                                        <td>{{ consultation.date }}</td>
                                        <td>£30</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}