{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form_content %}
    <h1 class="display-4 logo-font form-text form-title">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-text">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-black rounded-0 my-4" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
