{% load static %}
<!doctype html>
<html lang="en">
<!-- Using Bootstrap Starter Template -->
    <head>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{MEDIA_URL}}apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{MEDIA_URL}}favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{MEDIA_URL}}favicon-16x16.png">

        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Patua+One&display=swap" rel="stylesheet">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
            <!-- Project Level CSS -->
            <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block core_js %}
        <!-- Script Tags -->
            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>The Coding Pen</title>
    </head>
    <body>
        <header class="container-fluid fixed-top p-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <!-- Navbar from Bootstrap -->
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100">
                        <a class="main-logo" href="{% url 'home' %}"></a>
                        <a class="navbar-brand logo-font" href="{% url 'home' %}"> The Coding Pen</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse text-right flex-grow-1" id="navbarNavAltMarkup">
                            <div class="navbar-nav ml-auto flex-nowrap">  
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'about' %}">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  href="{% url 'consultation' %}">Consultation</a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'admin_page' %}">Admin</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            {% if request.user.is_authenticated %}
                                                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                                                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                            {% else %}
                                                <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                                <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% if messages %}
            <div class="msg-container">
                <!-- For Toasts from bootstrap -->
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
        <footer class="container-fluid fixed-bottom p-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <!-- Navbar from Bootstrap -->
                    <nav class="footer navbar navbar-expand-lg navbar-dark bg-dark w-100">
                        <a class="navbar-brand" href="{% url 'home' %}">The Coding Pen</a>
                    </nav>
                </div>
            </div>
        </footer>
        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}
    </body>
</html>