{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container"></div>
{% endblock %}

{% block content %}
<div class="row page-row no-gutters">
    <div class="col-xl-3 col-lg-4 col-12 left-tab">
        <div class="container-fluid left-tab-margin">
            <div class="row justify-content-center">
                <img src="../media/lewis.jpg" class="card-img-top logo" alt="...">
            </div>
            <div class="row justify-content-center">
                    <h1 class="heading">Personal Info</h1>
            </div>
            <hr class="info-divider">
            <div class="row justify-content-left">
                <div class="personal-info-container">
                    <div class="info-item">
                        <h2>Name</h2>
                        <p class="info-p">Lewis Dawson</p>
                    </div>
                    <div class="info-item">
                        <h2>Phone</h2>
                        <p class="info-p">07948 179632</p>
                    </div>
                    <div class="info-item">
                        <h2>Email</h2>
                        <p class="info-p">lewisdawsonwebdev@gmail.com</p>
                    </div>
                    <div class="info-item">
                        <h2>Role</h2>
                        <p class="info-p">Full Stack Web Developer</p>
                    </div>
                    <hr class="info-divider">
                    <div class="info-item">
                        <h2>Skills</h2>
                        <div class="progress bar1">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                <span class="prog-bar-text">HTML</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                <span class="prog-bar-text">CSS</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <span class="prog-bar-text">JavaScript</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="prog-bar-text">Python</span></div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <span class="prog-bar-text">Django</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-12 right-tab">
        <div class="container-fluid">
            <div class="row justify-content-center">
                    <h1 class="about-title">About Me</h1>
            </div>
            <hr class="about-divider-1">
            <div class="row justify-content-center">    
                <div class="col-12">
                    <h3 class="what-i-do">
                        <i class="fas fa-laptop-code about-icon"></i>
                        What Do I Do?
                    </h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-12">
                        <p class="about-me">
                            I am a Full Stack Web Developer with a range of technical skills that I bring into every project.
                            I develop web apps using multiple coding languages which allows me to create both stunning and
                            functional websites. I learned how to use these technologies through The Code Institute which was my 
                            source of study for over a year. I have since completed the Full Stack Development course.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="about-divider">
            <div class="row justify-content-center">    
                <div class="col-12">
                    <h3 class="what-i-do">
                        <i class="fas fa-hands-helping about-icon"></i>
                        Why Hire Me?
                    </h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-12">
                        <p class="about-me">
                            I am skilled in both frontend and backend development, which includes HTML, CSS, JavaScript, Python and Django.
                            Using these technologies I can create you a fresh website for a startup company or fully functional sites such
                            as an online shopping site which includes payment systems as well as other systems. I can also integrate databases
                            into your website for storing information such as user profiles. By combining the frontend and backend I can process
                            any data that is needed and present it the users in a neat and professional manner.
                        </p>
                        <p class="about-me">
                            I have also been taught how to implement security features to make sure that your website is not vulnerable to attacks
                            or data leaks. This will help to keep any sensitive information private and to make sure your site is not affected
                            or damaged. I do this by using defensive design in my backend code to prevent unauthorised access.
                        </p>
                        <p class="about-me about-me-margin">
                            I work quickly and effectively in getting things built and working across the stack.
                            I'm an excellent communicator who thrives in bright and enthusiastic teams and I am also
                            capable on taking solo projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}