.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1.5px solid black;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 4px 0 black;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, border 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #4a4a4f;
  border: 1px solid transparent;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #4a4a4f;
}

#id_consultation_idea {
    overflow: scroll;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.form-container {
    width: 70%;
}

#id_consultation_idea {
    width: 100%;
    min-height: 70px;
    overflow-x: hidden;
}


.jumbotron {
    width: 100%;
}

.consultation-submit {
    margin-top: 30px;
}

.consultation-card-warning {
    margin-top: 30px;
}

.card-errors {
    margin-top: 10px;
}
